<?xml version="1.0"?>
<!--
/**
 * @author Pavel Usachev <webcodekeeper@hotmail.com>
 * @copyright Copyright (c) 2017, Pavel Usachev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sysint\MagentoAcademy\Api\Data\LessonsInterface"
                type="Sysint\MagentoAcademy\Model\Lessons" />
    <preference for="Sysint\MagentoAcademy\Api\LessonsRepositoryInterface"
                type="Sysint\MagentoAcademy\Model\LessonsRepository" />
    <preference for="Sysint\MagentoAcademy\Api\Data\LessonsSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
</config>
